@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: #666;
    --gray-2: #d6d6d6;
    --gray-3: #f4f4f4;
    --background-color: #fff;
    --foreground: #000;
  }

  .dark {
    --background-color: #1c1c1c;
    --gray-3: #232323;
    --gray-2: #303030;
    --gray-1: #606060;
    --foreground: #fff;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
